.gutter-row-padding-none {
    padding-right: 0px !important;
    padding-left: 0px !important
}

.gutter-row {
    background: white
}
.gutter-final-row {
    background: -webkit-linear-gradient(right, #6ce5f8, #4dc6d9);
}

.ant-row {
    margin-left: 0 !important
}

.panel {
    /* background: #0558a6; */
    padding-bottom: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(right, #3168ad, #0558a6);
    /** Chrome Safari **/
    background: -moz-linear-gradient(right, #0558a6, #3168ad);
    /** FireFox **/
    background: -o-linear-gradient(right, #0558a6, #3168ad);
    /** Opear **/
    background: -ms-linear-gradient(#0558a6 0%, #3168ad 100%);
    /* min-height: 500px; */
}

.flow-title {
    background: #46a4c6 !important;
}

.first-colum {
    margin-bottom: -20px;
}

.done-gradient {
    background: -webkit-linear-gradient(right, #6ce5f8, #4dc6d9);
    /** Chrome Safari **/
    background: -moz-linear-gradient(right, #4dc6d9, #6ce5f8);
    /** FireFox **/
    background: -o-linear-gradient(right, #4dc6d9, #6ce5f8);
    /** Opear **/
    background: -ms-linear-gradient(#4dc6d9 0%, #6ce5f8 100%);
    /** IE9 IE10 **/
    margin-bottom: -20px;
}

.main-title {
    background: #347cb7 !important;
}

.border-tl-radius {
    border-top-left-radius: 11px
}

.border-tr-radius {
    border-top-right-radius: 11px
}

.border-tbl-radius {
    border-bottom-left-radius: 11px
}

.border-tbr-radius {
    border-bottom-right-radius: 11px
}

.requirementBox {
    width: 100%;
    min-height: 100px;
    background: white;
    margin-top: 10px;
    /* padding-bottom: 10px; */
    padding-left: 5px;
    padding-right: 5px;
}

.candidateBox {
    background: -webkit-linear-gradient(bottom, #539ede, #0558a6);
    /** Chrome Safari **/
    background: -moz-linear-gradient(bottom, #0558a6, #539ede);
    /** FireFox **/
    background: -o-linear-gradient(bottom, #0558a6, #539ede);
    /** Opear **/
    background: -ms-linear-gradient(#0558a6 0%, #539ede 100%);
    /** IE9 IE10 **/
}

.candidateBox .ant-badge-status-dot {
    height: 10px;
    width: 10px;
}

.ant-btn-circle.ant-btn-sm,
.ant-btn-circle-outline.ant-btn-sm {
    width: 20px;
    padding: 0;
    font-size: 3px;
    border-radius: 50%;
    height: 20px;
}
.ant-carousel {
    width: 385px !important;
    font-size: 17px;
}

.ant-carousel .slick-slide {
    text-align: left;
    height: 30px;
    line-height: 30px;
    background: white;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: rgb(128, 122, 125);
}

.flex-center {
    -webkit-display:flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:left;
    justify-content:left;
}
.divWidth{
    width: 110px;
    text-align: center
}
/* .table tbody {
                     display: block;
                     height: 80px;
                     overflow-x: scroll;
                 } */
/* .table thead,tbody tr {
                display: table;
                 width: 100%;
                 table-layout: fixed;
             } */
/*关键设置：滚动条默认宽度是16px 将thead的宽度减16px*/
/* .table thead {
                width: calc( 100% - 1em)
             } */