.gutter-row-padding-none {
    padding-right: 0px !important;
    padding-left: 0px !important
}

.flow-title {
    background: #46a4c6 !important;
}

.done-gradient {
    background: -webkit-linear-gradient(right, #6ce5f8,#4dc6d9); /** Chrome Safari **/
    background: -moz-linear-gradient(right, #4dc6d9, #6ce5f8); /** FireFox **/
    background: -o-linear-gradient(right, #4dc6d9, #6ce5f8);  /** Opear **/
    background: -ms-linear-gradient(#4dc6d9 0%,#6ce5f8 100%);  /** IE9 IE10 **/
}

.main-title {
    background: #347cb7 !important;
}

.border-tl-radius {
    border-top-left-radius: 11px
}

.border-tr-radius {
    border-top-right-radius: 11px
}

.itemBox{
    width: 100%;
    min-height: 80px; 
    background: white; 
    margin-top: 10px;
  }
  .candidateBox{
    width: 110px;
    height: 80px; 
    background:rgb(20, 83, 157);
    /* margin-top: 10px; */
    margin-bottom: 10px;
    color: white
  }
   .ant-btn-circle.ant-btn-sm, .ant-btn-circle-outline.ant-btn-sm{
    width: 20px;
    padding: 0;
    font-size: 3px;
    border-radius: 50%;
    height: 20px;
}