/* @import '~antd/dist/antd.css'; */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
  background:rgb(20, 83, 157);
}
.gutter-box {
  background:rgb(20, 83, 157);
  padding: 15px 0;
  color: aliceblue;
  height: 50px
}
.titleBox{
  margin-left: 30px;
  margin-top: 15px
}
.content{
  margin-left: 15px;
  margin-top: 15px
}

.ant-form-item-label label {
  color : white !important
}
.backgroundColor{
  background:#0558a6;
}
/* .itemBox{
  width: 134px;
  height: 80px; 
  background: white; 
  margin-top: 10px;
  margin-bottom: 10px;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background: #f3f1f2 !important;
}

.ant-layout-sider{
  background: #f3f1f2 !important;
}

.ant-layout-sider ant-layout-sider-dark ant-layout-sider-has-trigger {
  background: #f3f1f2 !important;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a {
  color: #1890ff !important;
}

.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > a:hover {
  color: white !important;
}

.ant-menu-inline .ant-menu-submenu {
  color: #1890ff;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #f3f1f2 !important;
}

.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover{
  color: #1890ff !important;
}

.ant-layout-sider-trigger{
  background: #f3f1f2 !important;
  color: #653232;
}

.ant-menu-submenu-arrow:before {
  background: #1890ff !important;
}
.ant-menu-submenu-arrow:after {
  background: #1890ff !important;
}

.ant-layout {
  background: white !important
}

.single-line-doc {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}

.left-middle-right {
  display: flex
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: rgba(235, 250, 252, 0.3);
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(235, 250, 252, 0.3);
    border-radius: 10px;
    background-color: rgba(235, 250, 252, 0.3);
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(218, 243, 247, 0.3);
    background-color: rgba(20, 83, 157, .3);
}